<div class="text-center">
  <div>
    <a class="btn btn-success" [routerLink]="'/todo'">Tasks</a>
  </div>
  <div *ngFor="let todo of toDoList">
    <a [routerLink]="['/details', todo.id]">
      <div *ngIf="todo.completed">
        <br />
        <div class="card border-success mb-3 text-success">
          <div class="card-header">
            <h2>Task {{ todo.id }}</h2>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ todo.title | titlecase }}</h5>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
