.card {
  border: solid 2px black;
  border-radius: 3px;
  padding: 3px;
  margin: 0 auto;
  margin-top: 0.5%;
  width: 50%;
}

.text-center a {
  margin-top: 1%;
}

.card a {
  color: black;
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
}
